/********************************
+ Email Obfuscator Popups v 1.3
*********************************/
.emoba-pop {
	color: #579;
}
.emoba-pop span.emoba-hover {
	display: none;
} 
.emoba-pop:hover span.emoba-hover {
	display: inline;
}
.emoba-pop span span{
	margin-left: 2px;
	margin-right: 2px;
}
img.emoba-glyph {
  border-width:0;
  height: 10px;
  margin:0;
}
span.emoba-em {
	font-family: "Courier New";
}

